.projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin: 0 auto;
}

.projects-header {
    font-size: calc(30px + 2vmin);
    color: #76ABAE;
    font-family: 'Bebas Neue', cursive;
}

.projects-body {
    font-size: 15px;
    font-family: 'Crimson Text', serif;
    color: #EEEEEE;
}