.HomeLink-container {
    margin-right: 1em;
}

.HomeLink {
    color: #76ABAE;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .HomeLink {
      font-size: 0.8em;
    }
}
  