.Container {
  background-color: #1e1e1e;
  padding-bottom: 50px;
}

.Container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Crimson Text, serif';
  color: #eeeeee;
  text-align: left;
}

.Container-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  margin-right: 2em;
}

.Container-date {
  font-size: 1em;
  white-space: nowrap;
  margin-left: auto;
  color: #bbbbbb;
}

.Container-body {
  font-size: 1.1em;
  font-weight: 300;
  color: #cccccc; 
  text-align: left;
  margin-bottom: 1%;
  line-height: 1.5em;
}

.Container-link {
  color: #4B8BBE;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: color 0.3s ease;
}

.Container-link:hover,
.Container-link:visited {
  color: #4B8BBE;
}

.dot {
  margin: 0 5px;
  color: #666;
}
