.Container {
  background-color: #1e1e1e;
  padding-bottom: 50px;
}

.Container-header {
  display: flex;
  align-items: center;
  font-family: 'Crimson Text, serif';
  color: #eeeeee;
  text-align: left;
  padding-bottom: 10px;
}

.Container-title {
  font-size: 1em;
}

.Container-date {
  font-size: 1em;
  white-space: nowrap;
  margin-left: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.language-icon-python{
  font-size: 2em;
  color: #4B8BBE;
}

.language-icon-java{
  font-size: 2em;
  color: #8B4513;
}

.Container-body {
  font-size: 1em;
  text-align: left;
  margin-bottom: 1%;
}

.Container-link{
  color: #4B8BBE;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: color 0.3s ease;
}

.Container-link:hover,
.Container-link:visited {
  color: #4B8BBE;
}

.dot {
  margin: 0 5px;
  color: #666;
}
