.numpy-neural-network {
    background-color: #1e1e1e;
    padding-bottom: 10%;
}

.header {
    padding-top: 5%;
    margin-left: 15%;
}

.title {
    font-size: calc(30px + 2vmin);
    color: #76ABAE;
    font-family: 'Bebas Neue', cursive;
}

.desc {
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    color: #EEEEEE;
    padding-bottom: 1.5%;
}

.social-icon {
    font-size: 2rem;
    transform: translate(0%, -15%);
    color: #fafbfc;
}
  
.github-link{
    color: #4B8BBE;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: 1%;
}
  
.github-link:hover,
.github-link:visited {
color: #4B8BBE;
}

.dot {
    margin: 0 5px;
    color: #666;
  }

.subtitle {
    font-size: calc(20px + 2vmin);
    color: #76ABAE;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 2.5%;
}

.subsubtitle {
    font-size: calc(10px + 2vmin);
    color: #EEEEEE;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 2.5%;
}

.body {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.text {
    font-size: 15px;
    font-family: 'Crimson Text', serif;
    color: #EEEEEE;
    padding-bottom: 2.5%;
}

.text-inline {
    font-size: 16px;
    color: #EEEEEE;
    display: inline;
}

.bold-enhance {
    font-weight: bold;
    color: #76ABAE;
    display: inline;
}

@media (max-width: 800px) {

    .header {
        padding-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .body {
        padding-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.image {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 2.5%;
  }
