/* MenuBar.css */
.MenuBar {
  background-color: #222831;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  position: relative;
  padding: 0.5% 1%; /* Adjust padding as needed */
  font-size: calc(5px + 2vmin);
  z-index: 1000;
}

.MenuBar-welcome-react-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.MenuBar-welcome {
  color: #76ABAE;
  font-family: 'Crimson Text', serif;
  white-space: nowrap;
}

.MenuBar-react-logo {
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s linear infinite; 
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.MenuBar-right-container {
  display: flex;
  align-items: center;
}

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: fadeInDown 2.0s;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .MenuBar {
    font-size: 0.8em;
  }
}
