.table-container {
    
  }
  
table {
width: 100%;
border-collapse: collapse;
font-size: 0.8em;
text-align: left;
color: #EEEE;
}

th, td {
padding: 12px;
border-bottom: 1px solid #76ABAE;
border-right: 1px solid #76ABAE;
border-left: 1px solid #76ABAE;
}

th {
background-color: #76ABAE;
}
  